/*смотрим на нижний скрол. Если есть, то HTML оставляем только меню, остальные отключаем ctrl+/
пишем медиа запросы добавляя по 1 секции */

@media (max-width: 1174px){
    .slider{
        margin: 0px;    
        }
    .photo__blog{
        width: 100%;
    }
    .blog__item{
        padding: 0 10px;
    }
    }

@media (max-width: 990px){
.header__inner{
    flex-wrap: wrap;
    height: auto;
    padding-top: 15px;
}
.menu__list{
    justify-content: flex-end;
    padding: 25px;
}
.designthinking__inner{
    background-image: none;
    padding: 30px 0 30px;
}
.feature__list{
    flex-wrap: wrap;/*доп обертка*/
}
.feature__item{
    width: 50%;/*в одном блоке будет 2 эл вместо 4*/
    margin-bottom: 30px;
    padding-right: 10px;
 }
.prof__inner-img{
    width: 50%;
    order: 1; /*приоритет первый текст или картинка.
    если текст первый - order:1; если картинка - order:-1; */
}
}
 @media (min-width: 574px) and (max-width: 857px){
.header__inner{
    display: block;
}
.menu__list{
    padding: 0px 25px 25px;
}
.user__nav{
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    text-align: center;
}
.designthinking__inner{
    padding: 90px 0 80px;
}    
.designthinking__title{
    font-size: 35px;
}
.feature{
    padding-top: 50px;
    margin-bottom: 25px;
}
.prof{
    padding: 50px 0 25px;
}
.prof__inner{
    flex-wrap: wrap;/*доп обертка чтобы объединить все эл*/
    margin-bottom: 25px;
}
.prof__list{
    max-width: 100%;
}
.prof__pretitle{
    margin-bottom: 23px;
}
.prof__inner-img{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 23px;
}
.text__inner{
    padding-top: 50px;
}
.team__person{
    display: none;
}
.team__inner{
    padding-bottom: 50px;
}
.photo__blog{
    width: 100%;
}
.footer__inner{
    flex-wrap: wrap;
}
.footer__form{
    width: 100%;
    padding-top: 23px;
}
.footer__form-title{
    margin-bottom: 20px;
}
}
@media (max-width: 573px){/*320px минимальный размер*/
.header__inner .feature{
    display: block;
    padding-top: 30%;
    margin-bottom: 30%;
}
/*делаем меню для мобильной версии*/
.menu__list{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ffffff;
    text-align: center;
    transition: all .2s;/*плавность кликанья*/
    transform: translateY(-300%);/*скрываем меню вверху*/
}
.menu__list.menu__list--active{
    transform: translateY(0%); /*при активном меню, нажимем на кнопку и меню сворачивается*/
    transition: all .2s; /*плавность кликанья*/
}
.menu__list-item + .menu__list-item{ 
    margin-left: 0px; 
}
/*ссылки удобные для нажатия*/
.menu__list-link{
    display: block;
    padding: 10px;
}
.menu__btn{
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
/*ставлю кнопки по центру*/
.user__nav{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 25px;
    display: block;
    text-align: center;
}
.designthinking__title{
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;
    max-width: 518px;
}
.designthinking__text{
    margin-bottom: 35px;
}
.designthinking__btn{
    margin-bottom: 40px;
}
.feature__title,.team__title,.blog__title,
.title__second{ /*второй заготовок*/
    font-size: 28px;
    line-height: 40px;
}
.feature__list{
    flex-wrap: wrap;
}
.feature__item{
    width: 100%;
}
.prof{
    padding: 50px 0 25px;
}
.prof__inner{
    flex-wrap: wrap;/*доп обертка чтобы объединить все эл*/
    margin-bottom: 25px;
}
.prof__inner-img{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 23px;
}
.prof__pretitle{
    margin-bottom: 23px;
}
.text__inner{
    padding-top: 50px;
}
.team__person{
    display: none;
}
.team__inner{
    padding-bottom: 50px;
}
.team__title{
    margin-bottom: 25px;
}
.slider{
    margin: 0px;    
}
.photo__blog{
    width: 100%;
    height: 230px;
}
.blog__info{
    padding-right: 0px;

}
.blog__item{
    padding: 0 10px;
}
.title__blog{
    margin-bottom: 15px;
}
.footer__inner{
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
}
.footer__form{
    width: 100%;
    padding-top: 23px;
}
.footer__form-title{
    margin-bottom: 20px;
}
.footer .logo{
    width: 100%;
    margin-bottom: 15px;
}
}