/*смотрим на нижний скрол. Если есть, то HTML оставляем только меню, остальные отключаем ctrl+/
пишем медиа запросы добавляя по 1 секции */

@media (max-width: 990px){

.header__inner{
    flex-wrap: wrap;
    height: auto;
    padding-top: 15px;
}
.menu__list{
    justify-content: flex-end;
    padding: 25px;
}
 }

 @media (min-width: 574px) and (max-width: 857px){
.header__inner{
    display: block;
}
.menu__list{
    padding: 0px 25px 25px;
}
.user__nav{
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    text-align: center;
}
 }
@media (max-width: 573px){
.header__inner{
    display: block;
}
.menu__list{
    display: none;
}
.menu__btn{
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;

}
/*ставлю кнопки по центру*/
.user__nav{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 25px;
    display: block;
    text-align: center;
}
}