*{
    box-sizing: border-box;
}

.body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
}
.container{
    max-width: 1123px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}
.menu{
    margin-left: auto;
}
.menu__list{
    display: flex;
    
}
.menu__list-item + .menu__list-item{
    margin-left: 23px;
    
}
.menu__list-link{
    text-decoration: none;
    color: #2F281E;
    font-size: 14px;
    line-height: 28px;
    
}
.user__nav{
    margin-left: 53px;
    margin-right: 13px;

}
.user__nav-link{
    border: solid 1px #BCD0E5;
    text-decoration: none;
    color:#173A56;
    border-radius: 4px;
    padding: 11px 23px;
    font-weight: 600px;
    font-size: 16px;
    line-height: 24px;

}
.user__nav-link + .user__nav-link{
    margin-left: 14px;
    background-color: #FF9900;
    color: #FFFFFF;
    border-color: transparent;

}